#main-container{
    max-width: min(80rem, 90%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

#image-header-container{
    display: flex;
    border: 2px solid red;
    height: 25rem;
    justify-content: space-around;
}


.header-text-container{
    max-width: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.header-text-container > h2{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 525;
}
.header-text-container > p{
    margin-bottom: .25rem;
}
.header-text-container > div{
    font-size: .8rem;
    color: rgb(72, 70, 70)
}